<div class="container" >
	<br/><br/><br/><br/>
	<div class="row alert alert-primary" role="alert">
		
		<div class="col-6 ">
			<br/>
			<span style="font-size: 4em; font-weight: bold; " class="text-info">GAT-Tools</span>
			<p>Ferramenta para auxílio na Administração dos ambientes de Testes e Certificação.</p>
			<p>GAT Tools possui recursos de administração de banco de dados unido com as regras de negócio das aplicações: NETSM, Atlas, entre outras.</p>
		</div>
		
		<div class="col-6 "><br>
			<center><span class="fas fa-tools text-info" style="font-size: 20em;"/></center>
		</div>
		
		<footer>GAT Tools - Versão 0.0.0</footer>
	</div>


 
  
</div>
