<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>GAT - Gestao de Ambiente</title>
		<base href="/">
		<link rel="stylesheet" href="lib/css/bootstrap.min.css" >
		<link rel="stylesheet" href="uib/dist/ui-bootstrap-csp.css">
		<link rel="stylesheet" href="lib/css/all.css">
		<script src="lib/jquery.min.js"></script>
		<script src="lib/js/bootstrap.min.js" ></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="lib/alasql.min.js"></script>
		<script src="lib/xlsx.full.min.js"></script>
		<script src="lib/angular-base64/angular-base64.min.js"></script>
		<script src="uib/dist/ui-bootstrap-tpls.js"></script>
		<script src="uib/dist/ui-bootstrap.js"></script>
		<script src="app.module.js"></script>
		<script src="scripts/menu-controller.js"></script>
		<script src="components/authentication/authentication-service.js"></script>
		<script src="components/menu/menu-directive.js"></script>
		<script src="components/asm-disk/asm-disk-controller.js"></script>
		<script src="scripts/datatable-factory.js"></script>
		<script src="components/asm-disk/asm-disk-service.js"></script>
	</head>
	<body ng-app="myApp">
		<menu></menu>
		<main role="main" style="margin-left: 30px;margin-right: 30px; margin-top: 60px; ">
			<div ng-controller="asm-disk-controller">
				<h2>ASM Disks</h2>
				
				</br>
				
				<button type="button" ng-click="exportData()" class="btn btn-light" title="Exportar para Planilha do Excel"> <i class="fas fa-file-excel text-primary"> </i> Exportar</button>
				
				<table class="table table-bordered table-sm table-striped">
					<caption>Exibindo {{ datatable.displaydata.length }} de {{ datatable.database.length }} registros.</caption>
					<thead class="thead-dark">
						<tr>
							<th ng-repeat="column in datatable.columns" >{{ column.name}} </th>
						</tr>
						<tr>
							<th ng-repeat="column in datatable.columns">
								<select ng-model="datatable.filters[column.name]" ng-change="datatable.apply()" >
									<option value=""></option>
									<option ng-repeat="x in column.list" ng-value="x">{{ x }}</option>
								</select>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in datatable.displaydata">
							<td ng-repeat="column in datatable.columns">{{ x[column.name] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>

	</body>
</html>