<div class="" ng-init="init()">
	<h2>Parametro NETSMS</h2>
	<div class="alert alert-{{message.status}}" ng-repeat="message in messages">
		<strong ng-bind="message.title"></strong> {{message.text}}
	</div>
	<div ng-show="progress" class="animate-show-hide">
		<div style="opacity:0.7; background-color: #000; width: 100%; height: 100%; position: absolute; display: inline-block;  top: 0px; left: 0px;"></div>
		<div style="width: 100%; height: 100%; position: absolute; display: inline-block;  top: 0px; left: 0px; padding-top: 200px;">
			<div style="width: 340px; height: 120px;  background-color: #fff; padding: 20px; border: 3px #ccc solid; margin: auto; 
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;">
				<center>
					<div class="text-primary">Carregando {{progress*100| number :0}}%
					</div>
				</center>
				<br>
				<div class="progress" >
					<div class="progress-bar progress-bar-striped bg-info text-dark" style="width:{{progress*100| number :0}}%"></div>
				</div>
			</div>
		
		</div>
	</div>

	
	
	<div class="container">
		<div class="row">
			
			<div class="col-sm">
				Ambientes
				<div class="overflow-auto" style="border: #000 1px solid;  height: 20em; ">
				<div class="checkbox" ng-repeat="environment in environments">
				<label class="bg-info" style="width: 100%; padding: 4px;">
				<input type="checkbox" ng-model="environment.visivel">
				<span ng-bind="environment.code"  ></span>
				</label>
				</div>
				</div>
			</div>
			
			<div class="col-sm">
				Cenários
				<div class="overflow-auto" style="border: #000 1px solid; height: 20em; ">
				<div class="checkbox" ng-repeat="cenario in cenarios">
				<label class="bg-info" style="width: 100%; padding: 4px;">
				<input type="checkbox" ng-model="cenario.visivel">
				<span ng-bind="cenario.code"  ></span>
				</label>
				</div>
				</div>
			</div>
			
			<div class="col-sm">
				Parâmetros
				<div class="overflow-auto" style="border: #000 1px solid;  height: 20em; ">
					<div class="checkbox" ng-repeat="parametro in parametros | filter:filtrar({visivel: true})">
						<label class="bg-info" style="width: 100%; padding: 4px;">
							<input type="checkbox" ng-model="parametro.visivel">
							<span ng-bind="parametro.code"  ></span>
						</label>
					</div>
					<hr>
					<div class="checkbox" ng-repeat="parametro in parametros">
						<label class="bg-info" style="width: 100%; padding: 4px;">
							<input type="checkbox" ng-model="parametro.visivel">
							<span ng-bind="parametro.code"  ></span>
						</label>
					</div>
				</div>
			</div>
			
			<div class="col-sm">
				Tipo de dados
				<div class="overflow-auto" style="border: #000 1px solid;  height: 20em; ">
					<div class="checkbox">
						<label class="bg-info" style="width: 100%; padding: 4px;">
						<input type="checkbox" ng-model="txt.visivel">
						<span>Texto</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="bg-info" style="width: 100%; padding: 4px;">
						<input type="checkbox" ng-model="num.visivel">
						<span>Numérico</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	<table class="table table-bordered table-sm table-striped"  id="example">
		<thead class="thead-dark">
			<tr>
				<th rowspan=2 >Ambiente</th>
				<th rowspan=2 >Parametro</th>
				<th class="text-center" ng-repeat="cenario in cenarios | filter:filtrar({visivel: true})" colspan="{{ (num.visivel && txt.visivel)?2:1 }}"><span ng-bind="cenario.code"></span></th>

				</tr>
			<tr>
				<th ng-show="num.visivel" style="width: 25em;" ng-repeat-start="cenario in cenarios | filter:filtrar({visivel: true})" ><span>Num</span></th>
				<th ng-show="txt.visivel" style="width: 25em;" ng-repeat-end ><span  >Text</span></th>

			</tr>
		</thead>
		<tbody id="myTable" ng-repeat="environment in environments | filter:filtrar({visivel: true})">
			<tr ng-repeat="parametro in parametros | filter:filtrar({visivel: true})">
				<td ng-bind="environment.code"></td>
				<td ng-bind="parametro.code"></td>
				<td ng-show="num.visivel" 
				ng-repeat-start="cenario in cenarios | filter: filtrar({'visivel': true})"  
				class="ellipsis"  
				ng-init="datasource = datasources.filter(filtrar({environmentCode: environment.code, cenarioCode: cenario.code}))[0]"
				>
					<span ng-if="datasource.status=='L'">
						<span ng-init="parval = datasource.data.filter(filtrar({code: parametro.code}))[0]" ng-bind="parval.numericValue"></span>
					</span>
					
					<span ng-if="datasource.status=='E'"><b>!</b> </span>
				</td>
				
				<td ng-show="txt.visivel" 
				ng-repeat-end
				class="ellipsis"  >
					<span ng-if="datasource.status=='L'">
						<span ng-init="parval = datasource.data.filter(filtrar({code: parametro.code}))[0]" ng-bind="parval.textValue"></span>
					</span>
					
					<span ng-if="datasource.status=='E'"><b>!</b> </span>
				</td>
	
			</tr>
		</tbody>
	</table>
	
</div>
