<div class="" ng-init="imea=0">
	<h2>Painel NETSMS</h2>
	<small ng-show:"reqdata.refreshDate">Atualizado em {{ reqdata.refreshDate | date:'yyyy-MM-dd HH:mm:ss': '+0000' }} </small>
	</br>
	<p>
	<b><i> Metrica: </i></b> 	<br>
	<select 
	ng-model="imea"
	ng-options="reqdata.v_axe_metrica.indexOf(selectedItem) as selectedItem.name for selectedItem in reqdata.v_axe_metrica" />
	</p>
	<div >
		<!-- <h3>{{reqdata.v_axe_metrica[imea].name}}</h3>-->
		<table class="table table-bordered table-sm">
			<thead  class="thead-dark">
				<tr>
					<th style="width: 8%;" rowspan=2>Ambiente \ Aplicação</th>
					<th ng-repeat="(icen, cen) in reqdata.v_axe_cenarios " ng-if="cen.levels[0].colspan > 0 && cen.levels[0].rowspan > 0"  class="align-middle" style="text-align: center; width: {{((100 - 8) / reqdata.v_axe_cenarios.length)}}%;" colspan="{{cen.levels[0].colspan}}" rowspan="{{cen.levels[0].rowspan}}">{{cen.levels[0].code}}</th>
				</tr>
				<tr>
					<th ng-repeat="(icen, cen) in reqdata.v_axe_cenarios " ng-if="cen.levels[1].colspan > 0 && cen.levels[1].rowspan > 0"  class="align-middle" style="text-align: center; width: {{((100 - 8) / reqdata.v_axe_cenarios.length)}}%;" colspan="{{cen.levels[1].colspan}}" rowspan="{{cen.levels[1].rowspan}}">{{cen.levels[1].code}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(iamb, amb) in reqdata.v_axe_ambientes ">
					<th title="{{amb.levels[0].description}}">{{amb.levels[0].code}}</th>
					<td title="status({{reqdata.v_ambientes[iamb][icen].status}})" ng-repeat="(icen, cen) in reqdata.v_axe_cenarios " style="padding: 0px;" class=" ">
						
						<div 
						ng-show="reqdata.v_ambientes[iamb][icen].status=='D'" 
						class=" text-center bg-light text-dark" style="padding: 6px"
						title="{{reqdata.v_ambientes[iamb][icen].message}}"
						>-</div>
						
						<div 
						ng-show="reqdata.v_ambientes[iamb][icen].status=='E'" 
						class=" text-center bg-secondary text-warning font-weight-bold" style="padding: 6px"
						title="DBLink: {{reqdata.v_ambientes[iamb][icen].code}}&#10;Conexão: {{reqdata.v_ambientes[iamb][icen].description}}&#10;Erro: &#10;{{reqdata.v_ambientes[iamb][icen].message}}&#10;"
						>!</div>
						
						<div 
						ng-show="reqdata.v_ambientes[iamb][icen].status=='L'" 
						class=" text-center " 
						ng-class="
						{
							'bg-danger text-white': reqdata.v_ambientes[iamb][icen].metricas[imea].status=='W',
							'bg-warning text-dark': reqdata.v_ambientes[iamb][icen].metricas[imea].status=='O'
						}"
						style="padding: 6px"
						title="DBLink: {{reqdata.v_ambientes[iamb][icen].code}}&#10;Conexão: {{reqdata.v_ambientes[iamb][icen].description}}&#10;Analise: &#10;{{reqdata.v_ambientes[iamb][icen].metricas[imea].message}}&#10;"
						
						><a style="color: inherit;" href="#!/detalhe-servidor/{{reqdata.v_ambientes[iamb][icen].code}}">{{reqdata.v_ambientes[iamb][icen].metricas[imea].fmt_value}}</a></div>
						
					</td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>
</div>
