<div class="">
	<h2>Detalhe do Servidor - {{detalhe.source.cd_conexao }}</h2>
	<small ng-show:"detalhe.refreshDate">Atualizado em {{ detalhe.refreshDate | date:'yyyy-MM-dd HH:mm:ss': '+0000' }} </small>
</div>

<a href="javascript:history.back()">Go Back</a>
<br>
<div class="alert alert-secondary">
	
	
	<div class="row">
		<div class="col-2">
			<small>Servidor</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.cd_conexao}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Conexão</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.ds_conexao}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Ambiente</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.cd_ambiente}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Aplicação</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.cd_aplicacao}}</small>
			<small ng-if="detalhe.source.cd_cenario"> / {{detalhe.source.cd_cenario}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Servidor Referência</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.target.cd_conexao}}</small>
		</div>
	</div>

</div>

<div ng-if="detalhe.tabelas">
	<h2>Tabelas</h2>
	<table class="table table-sm">
		<thead class="thead-dark">
			<tr>
			<th>Owner</th>
			<th>Tabela</th>
			<th>Criticas</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tabela in detalhe.tabelas">
				<td>{{tabela.owner}}</td>
				<td>{{tabela.table_name}}</td>
				<td>{{tabela.evalution}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan=3>{{detalhe.tabelas.length}} registros</th>
			</tr>
		</tfoot>
	</table>
</div>

<div ng-if="detalhe.colunas">
	<h2>Colunas</h2>
	<table class="table table-sm" >
		<thead class="thead-dark">
			<tr>
			<th>Owner</th>
			<th>Tabela</th>
			<th>Coluna</th>
			<th>Criticas</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="coluna in detalhe.colunas">
				<td>{{coluna.owner}}</td>
				<td>{{coluna.table_name}}</td>
				<td>{{coluna.column_name}}</td>
				<td>{{coluna.evalution}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan=4>{{detalhe.colunas.length}} registros</th>
			</tr>
		</tfoot>
	</table>
</div>

<div ng-if="detalhe.programaveis">
	<h2>Programáveis</h2>
	<table class="table table-sm" >
		<thead class="thead-dark">
			<tr>
			<th>Owner</th>
			<th>Nome</th>
			<th>Tipo</th>
			<th>Criticas</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="coluna in detalhe.programaveis">
				<td>{{coluna.owner}}</td>
				<td>{{coluna.object_name}}</td>
				<td>{{coluna.object_type}}</td>
				<td>{{coluna.evalution}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan=4>{{detalhe.programaveis.length}} registros</th>
			</tr>
		</tfoot>
	</table>
</div>
