<div class="">
	<h2>Detalhe do Servidor - {{detalhe.source.cd_conexao }}</h2>
	<small ng-show:"detalhe.refreshDate">Atualizado em {{ detalhe.refreshDate | date:'yyyy-MM-dd HH:mm:ss': '+0000' }} </small>
</div>

<a href="javascript:history.back()">Go Back</a>
<br>
<div class="alert alert-secondary">
	
	
	<div class="row">
		<div class="col-2">
			<small>Servidor</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.cd_conexao}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Conexão</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.ds_conexao}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Ambiente</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.cd_ambiente}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Aplicação</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.source.cd_aplicacao}}</small>
			<small ng-if="detalhe.source.cd_cenario"> / {{detalhe.source.cd_cenario}}</small>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2">
			<small>Servidor Referência</small>
		</div>
		<div class="col-10">
			<small>{{detalhe.target.cd_conexao}}</small>
		</div>
	</div>

</div>

<div ng-if="detalhe.compare">
	<h2>Comparação {{detalhe.source.cd_conexao}} ->  {{detalhe.target.cd_conexao}}</h2>
	<table class="table table-sm">
		<thead class="thead-dark">
			<tr>
			<th>object_type</th>
			<th>owner</th>
			<th>object_name</th>
			<th>subobject_name</th>
			<th>status</th>
			<th>difs</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in detalhe.compare">
				<td>{{item.object_type}}</td>
				<td>{{item.owner}}</td>
				<td>{{item.object_name}}</td>
				<td>{{item.subobject_name}}</td>
				<td>
					<span ng-if="item.status=='S'">Criar</span>
					<span ng-if="item.status=='T'">Excluir</span>
					<span ng-if="item.status=='D'">Diferente</span>
				</td>
				<td>{{item.difs}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan=5>{{detalhe.compare.length}} registros</th>
			</tr>
		</tfoot>
	</table>
</div>

