<div class="">
	<h2>Mapa de Planta</h2>
	<div class="alert alert-{{message.status}}" ng-repeat="message in messages">
		<strong ng-bind="message.title"></strong> {{message.text}}
	</div>
	
	<div>
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" ng-click="gotoCreate()" class="btn btn-light" title="Exportar para Planilha do Excel"> <i class="fas fa-file-excel text-primary"> </i> Criar</button>
			<button type="button" ng-click="export()" class="btn btn-light" title="Exportar para Planilha do Excel"> <i class="fas fa-file-excel text-primary"> </i> Exportar</button>
		</div>
		
		<table class="table table-bordered table-sm">
			
			<thead class="thead-dark">
				<tr>
					<th>
						<a class="text-white" ng-click="ordenar('id')" href="javascript: void(0)">
							<i ng-class="{'fas fa-sort text-secondary': orderBy != 'id', 'fas fa-sort-down text-primary': orderBy == 'id' && reverse, 'fas fa-sort-up text-primary': orderBy == 'id' && !reverse}"></i>
							<span>Id</span>
						</a>
					</th>
					<th>
						<a class="text-white" ng-click="ordenar('nome')" href="javascript: void(0)">
							<i ng-class="{'fas fa-sort text-secondary': orderBy != 'nome', 'fas fa-sort-down text-primary': orderBy == 'nome' && reverse, 'fas fa-sort-up text-primary': orderBy == 'nome' && !reverse}"></i>
							<span>Nome</span>
						</a>
					</th>
					<th>
						<a class="text-white" ng-click="ordenar('cd_ambiente')" href="javascript: void(0)">
							<i ng-class="{'fas fa-sort text-secondary': orderBy != 'cd_ambiente', 'fas fa-sort-down text-primary': orderBy == 'cd_ambiente' && reverse, 'fas fa-sort-up text-primary': orderBy == 'cd_ambiente' && !reverse}"></i>
							<span>Ambiente</span>
						</a>
					</th>
					
					<th>
						<a class="text-white" ng-click="ordenar('nomeModelo')" href="javascript: void(0)">
							<i ng-class="{'fas fa-sort text-secondary': orderBy != 'nomeModelo', 'fas fa-sort-down text-primary': orderBy == 'nomeModelo' && reverse, 'fas fa-sort-up text-primary': orderBy == 'nomeModelo' && !reverse}"></i>
							<span>Modelo</span>
						</a>
					</th>
					
					<th>
						<a class="text-white" ng-click="ordenar('dtAlteracao')" href="javascript: void(0)">
							<i ng-class="{'fas fa-sort text-secondary': orderBy != 'dtAlteracao', 'fas fa-sort-down text-primary': orderBy == 'dtAlteracao' && reverse, 'fas fa-sort-up text-primary': orderBy == 'dtAlteracao' && !reverse}"></i>
							<span>Última Edição</span>
						</a>
					</th>
					<th>Ação</th>					
				</tr>
					<tr>
					<th><input ng-model="filtro.id" placeholder="buscar por id" uib-typeahead="item.id for item in list | filter: filtro | unique:'id'"></input></th>
					<th><input ng-model="filtro.nome" placeholder="buscar por nome" uib-typeahead="item.nome for item in list | filter: filtro | unique:'nome'"></input></th>
					<th><input ng-model="filtro.cd_ambiente" placeholder="buscar por ambiente" uib-typeahead="item.cd_ambiente for item in list | filter: filtro | unique:'cd_ambiente'"></input></th>
					<th><input ng-model="filtro.nomeModelo" placeholder="buscar por modelo" uib-typeahead="item.nomeModelo for item in list | filter: filtro | unique:'nomeModelo'"></input></th>
					<th></th>
					<th></th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in filtrado = (list | filter : filtro | orderBy : orderBy: reverse)">
					<td ng-bind="row.id">CERT</td>
					<td ng-bind="row.nome">CERT</td>
					<td ng-bind="row.cd_ambiente">NETSMS</td>
					<td ng-bind="row.nomeModelo">NETSMS</td>
					<td>
					<span ng-show="row.nmUsuarioAlteracao">{{row.nmUsuarioAlteracao }} em {{ row.dtAlteracao | date: 'yyyy-MM-dd HH:mm'}}</span>
					</td>
					<td>
						<a href="javascript: void(0)" title="Editar" class="text-primary" ng-click="gotoEdit(row.id)"><i class="fas fa-edit"></i></a>
						&nbsp;
						<a href="javascript: void(0)" title="Excluir" class="text-danger" ng-click="modalDelete($index)"><i class="fas fa-minus-circle"></i></a>
					</td>
				</tr>
			</tbody>
			<caption>Exibindo {{ filtrado.length }} de {{ list.length }} registros.</caption>
		</table>
	</div>
</div>
